# WeatherPy

In [4]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import numpy as np
import random
from config import weather_api_key
from config import g_key
from citipy import citipy
from pprint import pprint

## Generate Cities List

In [15]:
lat = np.random.uniform(low = -90.000, high = 90.000, size = 100 )
lng = np.random.uniform(low = -180.000, high = 180.000, size = 100)
coordinates = zip(lat, lng)

city_list = []

for lat_long in coordinates:
    city = citipy.nearest_city(lat_long[0], lat_long[1])
    city = city.city_name
    
    if city not in city_list:
        city_list.append(city)    

# print(f'There are {len(city_list)} cities in the generated list.')
# city_list

### Perform API Calls

In [16]:
act_city_name = []
country = []
temperature = []
humidity = []
cloudiness = []
wind_speed = []
lattitude = []
longitude = []

temp_units = "imperial"
city_url = f"http://api.openweathermap.org/data/2.5/weather?appid={weather_api_key}&units={temp_units}&q="

record_counter = 0
set_counter = 1

for city_name in city_list:
    query = (city_url + city_name)
    response = requests.get(query).json()
    record_counter += 1
#     pprint(response)
    
    try:
        temperature.append(response['main']['temp_max'])
        humidity.append(response['main']['humidity'])
        cloudiness.append(response['clouds']['all'])
        wind_speed.append(response['wind']['speed'])
        lattitude.append(response['coord']['lat'])
        longitude.append(response['coord']['lat'])
        act_city_name.append(response['name'])
        country.append(response['sys']['country'])
        
        if record_counter > 50:
            record_counter = 1
            set_counter += 1
            
        print(f'Processing record {record_counter} of set {set_counter} | {city_name}.')
    
    except:
        record_counter -= 1
        print(f'City not found. Skipping...')
print('----------------------------------')
print('Data Retrieval Complete')
print('----------------------------------')

Processing record 1 of set 1 | hambantota.
Processing record 2 of set 1 | provideniya.
Processing record 3 of set 1 | bambous virieux.
Processing record 4 of set 1 | huntsville.
City not found. Skipping...
Processing record 5 of set 1 | dekar.
Processing record 6 of set 1 | beringovskiy.
Processing record 7 of set 1 | vao.
Processing record 8 of set 1 | narsaq.
City not found. Skipping...
Processing record 9 of set 1 | aden.
Processing record 10 of set 1 | panguna.
Processing record 11 of set 1 | yar-sale.
City not found. Skipping...
Processing record 12 of set 1 | saskylakh.
Processing record 13 of set 1 | belmonte.
Processing record 14 of set 1 | dikson.
Processing record 15 of set 1 | lebu.
Processing record 16 of set 1 | pacific grove.
City not found. Skipping...
Processing record 17 of set 1 | touros.
Processing record 18 of set 1 | abu samrah.
Processing record 19 of set 1 | port alfred.
Processing record 20 of set 1 | vila velha.
Processing record 21 of set 1 | cordoba.
Processing record 22 of set 1 | codrington.
Processing record 23 of set 1 | hermanus.
Processing record 24 of set 1 | mataura.
Processing record 25 of set 1 | ushuaia.
Processing record 26 of set 1 | petropavlovsk-kamchatskiy.
Processing record 27 of set 1 | dandong.
Processing record 28 of set 1 | cabo san lucas.
Processing record 29 of set 1 | bluff.
City not found. Skipping...
Processing record 30 of set 1 | medicine hat.
Processing record 31 of set 1 | hami.
Processing record 32 of set 1 | nikolskoye.
Processing record 33 of set 1 | east london.
Processing record 34 of set 1 | arraial do cabo.
Processing record 35 of set 1 | new norfolk.
City not found. Skipping...
Processing record 36 of set 1 | kruisfontein.
Processing record 37 of set 1 | lasa.
Processing record 38 of set 1 | vila franca do campo.
Processing record 39 of set 1 | hobart.
City not found. Skipping...
Processing record 40 of set 1 | bowen.
Processing record 41 of set 1 | albany.
Processing record 42 of set 1 | tubmanburg.
Processing record 43 of set 1 | comodoro rivadavia.
Processing record 44 of set 1 | rio gallegos.
Processing record 45 of set 1 | ushtobe.
Processing record 46 of set 1 | padang.
Processing record 47 of set 1 | avarua.
Processing record 48 of set 1 | saint-paul.
Processing record 49 of set 1 | san cristobal.
Processing record 50 of set 1 | rochegda.
Processing record 1 of set 2 | rikitea.
Processing record 2 of set 2 | necochea.
Processing record 3 of set 2 | oakdale.
City not found. Skipping...
Processing record 4 of set 2 | thompson.
Processing record 5 of set 2 | snyder.
Processing record 6 of set 2 | victoria.
Processing record 7 of set 2 | kahului.
Processing record 8 of set 2 | caravelas.
Processing record 9 of set 2 | bonavista.
Processing record 10 of set 2 | tura.
Processing record 11 of set 2 | mehamn.
Processing record 12 of set 2 | lubango.
Processing record 13 of set 2 | mahebourg.
Processing record 14 of set 2 | vaini.
Processing record 15 of set 2 | along.
Processing record 16 of set 2 | lufkin.
Processing record 17 of set 2 | chapais.
Processing record 18 of set 2 | jamestown.
Processing record 19 of set 2 | bac lieu.
Processing record 20 of set 2 | ribeira grande.
Processing record 21 of set 2 | rio grande.
Processing record 22 of set 2 | puerto ayora.
Processing record 23 of set 2 | ahipara.
Processing record 24 of set 2 | kalmunai.
Processing record 25 of set 2 | kavieng.
----------------------------------
Data Retrieval Complete
----------------------------------

## Convert Raw Data to DataFrame

In [21]:
# Create DataFrame
geo_weather_data_df = pd.DataFrame({
    'City' : act_city_name,
    'Lat' : lattitude,
    'Lng' : longitude,
    'Max Temp' : temperature,
    'Humidity' : humidity,
    'Cloudiness' : cloudiness,
    'Wind Speed' : wind_speed,
    'Country' : country,
})

# Add a column for hemisphere
def get_hemisphere(row):
    
    lattitude = row[2]    
    if lattitude >= 0:
        return "Northern Hemisphere"
    else:
        return "Southern Hemisphere"

# Call the get_hemisphere function to append a new Hemisphere column to the dataframe
geo_weather_data_df["Hemisphere"] = geo_weather_data_df.apply(get_hemisphere, axis="columns")

geo_weather_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hemisphere
0,Hambantota,6.12,6.12,87.80,70,40,11.41,LK,Northern Hemisphere
1,Provideniya,64.38,64.38,34.14,84,35,7.23,RU,Northern Hemisphere
2,Bambous Virieux,-20.34,-20.34,72.00,83,75,6.93,MU,Southern Hemisphere
3,Huntsville,34.73,34.73,64.00,100,20,3.67,US,Northern Hemisphere
4,Dekar,-21.53,-21.53,57.11,32,0,7.81,BW,Southern Hemisphere